/** Make index.html responsive for mobile devices and tablets*/
@media screen and (max-width: 767px) {
    /* make the background cover the viewport */
    /* change the position of the last image in the background to show fullsized */
    .overlay-bg {
        background: linear-gradient(105.82deg, rgba(1, 56, 61, 1) 0%, rgba(1, 56, 61, 0) 100.56%),url("./sourire.jpg");
        background-size: cover;
        background-position: 80%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;

    }
    /* move the logo to the left and centered vertically*/
    /* add space inside the box */
    .site-header-inner {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    /** Make the container big enough for h1 and h4 tags */
    .why-appr {
        width: 80%;
        height: auto;
    }
    
    /** move each word to its own line */
    .why-appr h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .why-appr h4 {
        width: 70%;
    }

    .site-header-inner {
        padding: 10;
    }
    .site-branding {
        padding: 0;
        width: 50%;
    }
    .hero-content {
        padding: 130px 10px 0;
    }
    .who-appr {
        padding: 10px 20px 20px 10px;
    }
    .who-appr p {
        padding: 0;
    }
    
    /** move the container down */
    .cta-btn-container {
        width: auto;
        height: auto;
        padding: 0;
        margin-top: 5rem;

    }

    .h2-split {
        width: 100%;
    }

    .banner-content {
        flex-direction: column;
        gap: 40px;
    }
    .left-content, .right-content {
        width: 100%;
        padding: 0;
    }
    .faq {
        padding: 10px 20px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }
    /* make this a cardbox with rounded corners */
    .block-column {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 12px;
        background-color: #fff;
    }
  .container {
    width: 100%;
    padding: 0;
  }
  /** switch the order of items in this grid */
  .row-container, .row-container-2 {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row-container {
    flex-direction: column-reverse;
  }
  .row-container-2 {
    flex-direction: column;
  }

  .header-logos, .row-logos {
    padding: 0;
  }

  /** put each item on its own line in a gridbox */
  .row-container-3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .partners {
    padding: 10px 20px 20px 10px;
  }

  /** center items in the gridbox */
  #partners-testimonial #group-one, #group-two, #group-three, #group-four {
    grid-template-columns: 1fr;
  }
  .testimonials {
    background-color: white;
    padding: 10px 20px 20px 10px;
  }
  .testimonials h2 {
    text-align: center;
  }

  .testimonials img {
    width: 70%;
    height: 70%;
  }
  
  /** use named grid areas to position the items */
  .testimonials-odd {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text";
  }

  /** center the items in the gridbox */
  .manager {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #profile-one, #profile-three {
    grid-area: img;
  }

  #testimonial-one, #testimonial-three {
    grid-area: text;
  }
  .faq-content {
    padding: 10px;
  }
  .faq-content summary {
    list-style-type: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .overlay-bg {
        background: linear-gradient(105.82deg, rgba(1, 56, 61, 1) 0%, rgba(1, 56, 61, 0) 100.56%),url("./sourire.jpg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .site-header-inner {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .why-appr {
        width: 80%;
        height: auto;
    }
    .why-appr h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    .why-appr h4 {
        width: 70%;
    }
    .site-header-inner {
        padding: 0;
    }
    .site-branding {
        padding: 0;
        width: 50%;
    }
    .hero-content {
        padding: 130px 10px 0;
    }
    .who-appr {
        padding: 10px 20px 20px 10px;
    }
    .who-appr p {
        padding: 0;
    }
    /* make the container big enough for all content */
    .cta-btn-container {
        height: auto;
        width: auto;
    }
    .faq {
        padding: 10px 20px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .block-column {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 12px;
        background-color: #fff;
    }
  .container {
    width: 100%;
    padding: 0;
  }
  .row-container {
    padding: 0px;
  }
  .row-container, .row-container-2 .row-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .header-logos, .row-logos {
    padding: 0;
    }
    .row-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .partners {
    padding: 10px 20px 20px 10px;
    }
    .testimonials {
    padding: 10px 20px 20px 10px;
    }
    .testimonials-odd {
    display: flex;
    flex-direction: column-reverse;
    }
    .faq-content {
    padding: 10px;
    }
}